<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="booksContainer">

        <div class='bookDetail'>
            <img src=<%=book.image_url %> />
            <h3>
                <%= book.title %>
            </h3>
            <h4>
                <%= book.author %>
            </h4>
            <p>
                <%= book.isbn %>
            </p>
            <p>
                <%= book.description %>
            </p>

        </div>

    </div>
</body>

</html>